# Manipulação de dados
pandas>=2.0
numpy>=1.25

# Machine Learning
scikit-learn>=1.3
xgboost>=1.7

# Coleta de dados NBA
nba_api>=1.1.10

# Interface Web
flask>=2.3

# Visualização (opcional, útil no desenvolvimento)
matplotlib


#Rodar o projeto
#pip install -r requirements.txt
#python -m models.train_model
#python flask_app.py
